name: Build

on:
  push:
    branches:
      - main

env:
  TRIPLET: x64-linux

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          # We allow anonymous read access to the buckets below, but not write access (for security reasons).
          # You can see the list of files in the buckets by visiting the following URLs:
          # - https://s3.us-east-1.amazonaws.com/vcpkg-binary-caching-example/
          # - https://s3.us-central-1.wasabisys.com/vcpkg-binary-caching-example/
          # (Cloudflare R2 does not provide public access to object listing.)

          - name: AWS S3
            binary_source: "x-aws,s3://vcpkg-binary-caching-example/vcpkg-binary-caching-example/,readwrite"
            region: us-east-1
            access_key_id: AWS_ACCESS_KEY_ID
            secret_access_key: AWS_SECRET_ACCESS_KEY

          - name: AWS S3 with trailing slash
            binary_source: "x-aws,s3://vcpkg-binary-caching-example/vcpkg-binary-caching-example/,readwrite,endpoint-url=https://s3.us-east-1.amazonaws.com/"
            region: us-east-1
            access_key_id: AWS_ACCESS_KEY_ID
            secret_access_key: AWS_SECRET_ACCESS_KEY

          - name: Cloudflare R2
            binary_source: "x-aws,s3://vcpkg-binary-caching-example/vcpkg-binary-caching-example/,readwrite,endpoint-url=https://1a5d304db1c315f0731d67e097a1ee6c.r2.cloudflarestorage.com"
            region: auto
            access_key_id: CFR2_ACCESS_KEY_ID
            secret_access_key: CFR2_SECRET_ACCESS_KEY

          - name: Wasabi
            binary_source: "x-aws,s3://vcpkg-binary-caching-example/vcpkg-binary-caching-example/,readwrite,endpoint-url=https://s3.us-central-1.wasabisys.com"
            region: us-central-1
            access_key_id: WASABI_ACCESS_KEY_ID
            secret_access_key: WASABI_SECRET_ACCESS_KEY

          - name: Wasabi with trailing slash
            binary_source: "x-aws,s3://vcpkg-binary-caching-example/vcpkg-binary-caching-example/,readwrite,endpoint-url=https://s3.us-central-1.wasabisys.com/"
            region: us-central-1
            access_key_id: WASABI_ACCESS_KEY_ID
            secret_access_key: WASABI_SECRET_ACCESS_KEY

          - name: AWS S3 unsigned
            binary_source: "x-aws-config,no-sign-request;x-aws,s3://vcpkg-binary-caching-example/vcpkg-binary-caching-example/,read"
            region: us-east-1

          # Currently Cloudflare R2 does not support `ListObjectsV2` API natively for public buckets.
          #- name: Cloudflare R2 unsigned
          #  binary_source: "x-aws-config,no-sign-request;x-aws,s3://vcpkg-binary-caching-example/,read,endpoint-url=https://pub-fc90bb777fcc4a66bd9db76890969d5c.r2.dev"
          #  region: auto

          - name: Wasabi unsigned
            binary_source: "x-aws-config,no-sign-request;x-aws,s3://vcpkg-binary-caching-example/vcpkg-binary-caching-example/,read,endpoint-url=https://s3.us-central-1.wasabisys.com"
            region: us-central-1

          - name: 2 Wasabi
            binary_source: "\
              x-aws,s3://vcpkg-binary-caching-example/vcpkg-binary-caching-example/,readwrite,endpoint-url=https://s3.us-central-1.wasabisys.com;\
              x-aws,s3://vcpkg-binary-caching-example/vcpkg-binary-caching-example-2/,readwrite,endpoint-url=https://s3.us-central-1.wasabisys.com\
              "
            region: us-central-1
            access_key_id: WASABI_ACCESS_KEY_ID
            secret_access_key: WASABI_SECRET_ACCESS_KEY

          - name: AWS + Wasabi
            binary_source: "\
              x-aws,s3://vcpkg-binary-caching-example/vcpkg-binary-caching-example-ex/,readwrite;\
              x-aws,s3://vcpkg-binary-caching-example/vcpkg-binary-caching-example-ex/,readwrite,endpoint-url=https://s3.us-central-1.wasabisys.com,profile=wasabi\
              "
            region: us-east-1
            access_key_id: AWS_ACCESS_KEY_ID
            secret_access_key: AWS_SECRET_ACCESS_KEY
            profile_wasabi: true

          - name: AWS + Cloudflare R2 + Wasabi
            binary_source: "\
              x-aws,s3://vcpkg-binary-caching-example/vcpkg-binary-caching-example-ex2/,readwrite;\
              x-aws,s3://vcpkg-binary-caching-example/vcpkg-binary-caching-example-ex2/,readwrite,endpoint-url=https://1a5d304db1c315f0731d67e097a1ee6c.r2.cloudflarestorage.com,profile=cfr2;\
              x-aws,s3://vcpkg-binary-caching-example/vcpkg-binary-caching-example-ex2/,readwrite,endpoint-url=https://s3.us-central-1.wasabisys.com,profile=wasabi\
              "
            region: us-east-1
            access_key_id: AWS_ACCESS_KEY_ID
            secret_access_key: AWS_SECRET_ACCESS_KEY
            profile_cfr2: true
            profile_wasabi: true
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - run: cp vcpkg .vcpkg/

      - name: Configure AWS CLI
        run: |
          mkdir -p ~/.aws
          echo "[default]" >> ~/.aws/config
          echo "region = ${{ matrix.region }}" >> ~/.aws/config

      - name: Configure AWS CLI credentials
        if: matrix.access_key_id && matrix.secret_access_key
        run: |
          echo "[default]" >> ~/.aws/credentials
          echo "aws_access_key_id = ${{ secrets[matrix.access_key_id] }}" >> ~/.aws/credentials
          echo "aws_secret_access_key = ${{ secrets[matrix.secret_access_key] }}" >> ~/.aws/credentials

      - name: Configure AWS CLI config and credentials for profile cfr2
        if: matrix.profile_cfr2
        run: |
          echo -e "\n[cfr2]" >> ~/.aws/config
          echo "region = auto" >> ~/.aws/config
          echo -e "\n[cfr2]" >> ~/.aws/credentials
          echo "aws_access_key_id = ${{ secrets.CFR2_ACCESS_KEY_ID }}" >> ~/.aws/credentials
          echo "aws_secret_access_key = ${{ secrets.CFR2_SECRET_ACCESS_KEY }}" >> ~/.aws/credentials

      - name: Configure AWS CLI config and credentials for profile wasabi
        if: matrix.profile_wasabi
        run: |
          echo -e "\n[wasabi]" >> ~/.aws/config
          echo "region = us-central-1" >> ~/.aws/config
          echo -e "\n[wasabi]" >> ~/.aws/credentials
          echo "aws_access_key_id = ${{ secrets.WASABI_ACCESS_KEY_ID }}" >> ~/.aws/credentials
          echo "aws_secret_access_key = ${{ secrets.WASABI_SECRET_ACCESS_KEY }}" >> ~/.aws/credentials

      - run: ./.vcpkg/vcpkg --version

      - run: ./.vcpkg/vcpkg install --debug --binarysource="${{ matrix.binary_source }}" --triplet=${{ env.TRIPLET }}

  test_args:
    name: Test arguments parsing
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - run: cp vcpkg .vcpkg/

      - name: Vcpkg version and help messages
        run: |
          ./.vcpkg/vcpkg --version
          ./.vcpkg/vcpkg --help || true
          ./.vcpkg/vcpkg help binarycaching || true

      - run: cd test_args && ./test01.sh

      - run: cd test_args && ./test02.sh
