name: Build

on:
  push:
    branches:
      - main

env:
  TRIPLET: x64-linux

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - name: AWS S3
            binary_source: "x-aws,s3://vcpkg-binary-caching-example/vcpkg-binary-caching-example/,readwrite"
            region: us-east-1
            access_key_id: AWS_ACCESS_KEY_ID
            secret_access_key: AWS_SECRET_ACCESS_KEY

          - name: Cloudflare R2
            binary_source: "x-aws,s3://vcpkg-binary-caching-example/vcpkg-binary-caching-example/,readwrite;x-aws-config,endpoint-url,https://1a5d304db1c315f0731d67e097a1ee6c.r2.cloudflarestorage.com"
            region: auto
            access_key_id: CFR2_ACCESS_KEY_ID
            secret_access_key: CFR2_SECRET_ACCESS_KEY

          - name: Wasabi
            binary_source: "x-aws,s3://vcpkg-binary-caching-example/vcpkg-binary-caching-example/,readwrite;x-aws-config,endpoint-url,https://s3.us-central-1.wasabisys.com"
            region: us-central-1
            access_key_id: WASABI_ACCESS_KEY_ID
            secret_access_key: WASABI_SECRET_ACCESS_KEY

          - name: AWS S3 unsigned
            binary_source: "x-aws,s3://vcpkg-binary-caching-example/vcpkg-binary-caching-example/,read;x-aws-config,no-sign-request"
            region: us-east-1

          - name: Cloudflare R2 unsigned
            binary_source: "x-aws,s3://vcpkg-binary-caching-example/,read;x-aws-config,endpoint-url,https://pub-fc90bb777fcc4a66bd9db76890969d5c.r2.dev;x-aws-config,no-sign-request"
            region: auto

          - name: Wasabi unsigned
            binary_source: "x-aws,s3://vcpkg-binary-caching-example/vcpkg-binary-caching-example/,read;x-aws-config,endpoint-url,https://s3.us-central-1.wasabisys.com;x-aws-config,no-sign-request"
            region: us-central-1
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - run: cp vcpkg .vcpkg/

      - name: Configure AWS CLI
        run: |
          mkdir -p ~/.aws
          echo "[default]" >> ~/.aws/config
          echo "region = ${{ matrix.region }}" >> ~/.aws/config

      - name: Configure AWS CLI credentials
        if: matrix.access_key_id && matrix.secret_access_key
        run: |
          echo "[default]" >> ~/.aws/credentials
          echo "aws_access_key_id = ${{ secrets[matrix.access_key_id] }}" >> ~/.aws/credentials
          echo "aws_secret_access_key = ${{ secrets[matrix.secret_access_key] }}" >> ~/.aws/credentials

      - run: ./.vcpkg/vcpkg --version

      - run: ./.vcpkg/vcpkg install --binarysource="${{ matrix.binary_source }}" --triplet=${{ env.TRIPLET }}

  test_args:
    name: Test arguments parsing
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - run: cp vcpkg .vcpkg/

      - name: Vcpkg version and help messages
        run: |
          ./.vcpkg/vcpkg --version
          ./.vcpkg/vcpkg --help || true
          ./.vcpkg/vcpkg help binarycaching || true

      - run: ./test-args.sh
